.Actor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-top: 1rem;
  @media only screen and (min-width: 600px) {
    padding: 1rem 2rem 0 0;
    grid-template-columns: repeat(3, 1fr);
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--image {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 6px;
      border: 1px solid #e8e8e8;
      @media only screen and (min-width: 600px) {
        height: 100px;
      }
    }
    &--name {
      font-size: 15px;
    }
    &--active > img {
      border: 1px solid #3860ad;
    }

    &--active > &--name {
      color: #3860ad;
      font-weight: 600;
    }
  }
}
