.Header {
  width: 95%;
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #00000019;
  &__account {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__account,
  &__saved-videos,
  &__signin,
  &__signup {
    padding-left: 2rem;
    @media only screen and (min-width: 600px) {
      padding-left: 0;
    }
  }
}

.Logout__button {
  border: none;
  background-color: transparent;
  color: #ee6363;
  padding: 6px 20px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  &:hover {
    color: #111111;
    background-color: #ee6363;
  }
}
