.Header {
  width: 100%;
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #00000019;
  @media only screen and (min-width: 600px) {
    padding-left: 0;
    width: 98%;
  }
  &__account {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__saved-videos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
  }
  &__account,
  &__saved-videos,
  &__signin,
  &__signup {
    width: 100%;
    padding-left: 1rem;
    @media only screen and (min-width: 600px) {
      width: 98%;
      padding-left: 0;
    }
  }
}

.Logout__button {
  border: none;
  background-color: transparent;
  color: #ee6363;
  padding: 6px 20px;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 600;
  &:hover {
    color: #e93a3a;
  }
}
